header {Color: Green;
     Background-color:
White; text-align:
centre;
font-size:20px;
display:block;}

H2 {Color: Green;
    Background-color:
White; text-align:
centre;
font-size:20px;
display:block;}

body {
    background-color:
    pink;}

    img {
        width: 25%;
        height:25%;
      }